<h1>Meu <%= Profile.model_name.human %></h1>


<% if @profile.first_update? %>
  <h2>
    Seu perfil ainda não tem informações
    Clique no botão abaixo para preencher
  </h2>

  <%= link_to 'Completar perfil', edit_profile_path(current_user.profile) %>
<% else %>
  <%= render partial: 'profile_info', locals: { profile: @profile } %>
  <%= link_to t('helpers.submit.update', model: Profile.model_name.human),
              edit_profile_path(current_user.profile) %>
<% end %>
