<%= render 'shared/project_header', project: @project %>
<div id="vue-app" data-project-title="<%= @project.title %>">
  <!-- Componente Vue.js será renderizado aqui -->
  {{ project }}
  {{ data-project-title }}
</div>
