<h1><%= t('.hello', participant_name: @participant.full_name) %></h1>
<p>
  <%= t('.meeting_about_to_start', 
                                  title: @meeting.title, 
                                  meeting_date_and_time: @meeting.datetime.strftime('%d/%m/%y às %H:%M horas')) %>
</p>
<p>
  <%= link_to t('.click_here'), project_meeting_url(@project, @meeting) %>
</p>
<p><%= t('.thanks_have_a_nice_day') %></p>
