<%= render 'shared/project_header', project: @project %>

<%= link_to I18n.t('tasks.new_task'), 
            new_project_task_path(@project),
            class: 'btn btn-primary' %>
<br>
<br>
<ul>
  <% @tasks.each do |task| %>
    <li><h4><%= link_to task.title, task_path(task) %>
    <span style="font-size: small;"><%= I18n.l task.due_date if task.due_date %></span></h4></li>
  <% end %>
</ul>
