<h1><%= @profile.name %></h1>

<h2>Envio de convite</h2>

<%= render partial: 'invitation_form', locals: { current_invitation: @current_invitation, invitation: @invitation, profile: @profile, project: @project } %>
