<%= link_to t(:document_new_btn), new_project_document_path %>

<section>
  <% @documents.each do |document| %>
    <div>
      <h4><%= link_to document.title, document_path(document) %></h4>
      <p><%= document.description %></p>
      <% if document.file.attached? %>
        <%= image_tag document.file %>
      <% end %>
    </div>
  <% end %>
</section>