<h1><%= t(:edit_project) %></h1>

<%= render 'form' %>

<%= button_to t(:delete_project_btn),
              project_path(@project),
              method: :delete,
              data: { turbo_confirm: t(:delete_confirm_message),
                      turbo_method: :delete },
              class: 'btn btn-danger' %>
