.logo {
  width: 150px;
}
.btn.btn-primary {
  background-color: #4f8471;
  border: 0;
  color: rgb(226, 226, 226)!important;
}
.btn.btn-primary:hover {
  background-color:#8dcbbb;
  border: 0;
}
.btn.btn-primary:active {
  background-color:#8dcbbb!important;
  border: 0;
}
a {
  color:  #3d8573!important;
  text-decoration: none!important;
}
a:hover {
  color: #8dcbbb!important;
}