.logo {
  width: 150px;
}
 nav a {
  color:  #13795b!important;
  text-decoration: none!important;
}
 nav a:hover {
  color: #0c4e3a!important;
}
 a {
  color: #13795b!important;
}
 a:hover {
  color: #0c4e3a!important;
 }