<nav>
  <% if user_signed_in? %>
    <p><%= current_user.email %></p>
    <%= button_to "Sair", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Entrar", new_user_session_path %>
  <% end %>
</nav>
